@mixin player-start {
  body {
    #body #meta, #start-tutorial figcaption {
      display: none !important;
    }

    #top {
      #navigation-1 {
        @include laptop-and-up {
          display: flex !important;
        }
      }    
    }

    #body {
      #steps {
        display: block !important;
      }
      
      // navigation 4 is for mobiles, navigation 5 is for laptops and up
      #navigation-4 {
        display: flex;

        @include laptop-and-up {
          display: none;
        }
      } 
      
      #navigation-5 {
        @include laptop-and-up {
          display: flex;
        }
      } 
    }
  }
}