<section id="player-share">
  <h3>Share</h3>
  
  {% include molecules/logo.html %}
  
  <h1>Share</h1>
  
  {% include organisms/player-social.html %}
  
  <nav>
    <h3>Links</h3>
    <ul>
      <li>
        <span class="url">
          //www.iorad.com/127/1832/Demo-Tutorial-for-Designer
        </span>
        <div class="button">Copy</div>
      </li>

      <li>
        <span class="url">
          //www.iorad.com/127/1832/Demo-Tutorial-for-Designer
        </span>
        <div class="button">Copy</div>
      </li>
    </ul>
  </nav>
  
  
  <nav>
    <h3>Share</h3>
    
    {% include molecules/icons.html ids="11,12,13" %}
  </nav>
  
</section>