<section id="player-share">
  <h3>Share</h3>
  
  {% include molecules/logo.html %}
  
  <h1>Share</h1>
  
  {% include organisms/player-social.html %}
  
  <nav>
    <h3>Links</h3>
    <ul>
      <li>
        {% include molecules/url-to-copy.html url="//www.iorad.com/127/1832/Demo-Tutorial-for-Designer" %}
      </li>

      <li>
        {% include molecules/url-to-copy.html url="<iframe src='//www.iorad.com/127/1832/Demo-Tutorial-for-Designer' width='100%' scrolling='no' height='500px' style='border:0px;' allowfullscreen='true'></iframe>" %}
      </li>
    </ul>
  </nav>
  
  
  <nav>
    <h3>Share</h3>
    
    {% include molecules/icons.html ids="11,12,13" %}
  </nav>
  
</section>