@mixin author {
  @include flexbox($display: inline-flex, $wrap: nowrap, $align-items: flex-start);
  
  figure {
    @include figure;
    margin-right: $lem / 2;
  }
  
  aside {
    li {
      &.by {
        margin-top: $lem / 2;
        font-size: small;
      }
      
      &.name {
        @include font(navigation);
      }

      &.role {
        @include font(role);
      }
    }
  }
  
}