@mixin icons($display: true) {
  @include below-laptop {
    @include flexbox($wrap: wrap, $justify-content: center);
  }
  
  @include text(navigation);
  
  div {
    @include icon($lightblue);
    padding-bottom: $lem/4;
    
    cursor: pointer;
  } 
  
  
  
  @if ($display == true) or ($display == play) {
    display: block;
  } @else {
    display: none;
  }
}