@mixin languages-and-keyboard {
  @include flexbox($wrap: wrap, $justify-content: center);
  @include font(navigation);
  
  div {
    margin-right: $lem;
    margin-top: $lem / 4;
    
    [class^="icon-"], [class*=" icon-"] {
      color: $lightblue;
    }
  }
}