@mixin share {
  @include flexbox($direction: column, $justify-content: center, $align-items: center);
  @include circle(white-on-black, $text-width / 2);
  @include show-title;
  
  @include share-layout;
  
  h3 {
    @include text(signup);
  }
  
  h4 {
    @include text(title);
    margin: $lem;
  }
  
  dl {
    dt {
      @include font(role)
    }
    
    dd {
      @include flexbox($wrap: nowrap, $justify-content: center, $align-items: center);
      margin-bottom: $lem;
      
      input {
        padding: $lem/4;
      }
      
      .button {
        @include button(black-on-white);
        font-size: small;
        font-weight: bold;
        font-style: italic;
      }
    }
  }
  
  aside {
    @include icons($margin: $lem/2);
    @include flexbox($wrap: nowrap, $justify-content: center, $align-items: center);
    font-size: $heading-level-2;
    margin-bottom: $lem;
  }
}


@mixin share-layout {
  @include center(both, $top: 15%);
  
  
  display: none;
  &.active {
    display: block;
  }
}