@mixin signup($display: true) {
  @include flexbox($wrap: wrap, $justify-content: center, $align-items: center);
  margin: auto $lem;
  
  .made {
    @include text(signup);
    @include colors(lightblue-on-blue2);
    margin-right: $lem;
  }
  
  .button {
    @include button(lightblue-on-blue2);
    
    font-size: small;
    font-weight: bold;
    font-style: italic;
    
    @include below-laptop {
      margin-top: $lem / 4;
    }
  }
  
  
  @if ($display != true) {
    display: none;
  }
  
}