@mixin signup {
  .made {
    @include text(signup);
    color: darken($white, 10%);
    
    &:before {
      content: ' ';
      display: block;
      width: $text-width / 4;
      border-top: 1px solid;
      padding-top: $lem/2;
      margin-top: $lem/2;
      color: $red;
    }
  }
  
  .icon {
    @include icon($red);
    @include text(navigation);
  }
  
  
  .button {
    margin-left: $lem;
    margin-top: $lem;
    @include button(white-on-blue);
    
    font-size: small;
    font-weight: bold;
    font-style: italic;
    color: darken($white, 10%); 
  }
  
  
  @include below-laptop {
    margin: $lem * 2 0;
    text-align: center;
    
    .made {
      margin-top: $lem;
      
      &:before {
        display: none;
      }
    }
    
    .button {
      margin-left: 0;
    }
  }
}