@mixin step {
  @include show-title;
  @include title-with-numbers;
  
  @include laptop-and-up {
    figure {
      display: none;
    } 
  }
} 


@mixin title-with-numbers {
  h3 {
    width: 100%;
    float: left;
    margin-bottom: $lem;
    
    
    .step, .text {
      display: inline-block;
      float: left;
    }
    
    $size: $lem - $lem/4;
    
    .step {
      @include circle(white-on-green, $lem - $lem/4);
      text-align: center;
      margin-right: $lem/2;
    }
    
    .text {
      max-width: calc(100% - #{$size * 2 + $size/2 + $lem/2});
    }
  }
}