@mixin viewed {
  @include flexbox($wrap: nowrap, $justify-content: space-between);
  
  @include colors(blue-on-lightblue);
  @include clip-path("clip.svg");
  
  padding: $lem/2 $lem;
  
  
  p {
    font-size: smaller;
    text-align: center;
    
    span {
      display: block;
    }
    
    &.steps, &.views {
      span {
        @include circle(blue-on-lightblue, $lem, $blue);
      }
    }
      
    &.edited {
      span {
        border: 2px solid;
        padding: $lem/4 $lem/2;
        margin: $lem/4 0;
      }
    }
  }
}