@mixin steps($play: false) {
  @include timeline; 
  
  article {
    @include step;
    
    &:last-of-type {
      h3 {
        @include laptop-and-up {
          margin-bottom: 0;
        }
      }
    }
  }
  
  #navigation-5 {
    @include icons($play);
    
    clear: both;
    @include flexbox($wrap: wrap);
    
    @include colors(white-on-blue);
    padding: $lem * 2 0;
    
    position: relative;
    left: -$lem;
  }
  
  display: none;
  @if ($play != false) {
    display: block;
  }
}


@mixin timeline {
  border-left: 4px solid $green;
  margin-left: $lem;
  position: relative;
  
  article {
    position: relative;
    left: -$lem;
    
    // Hide the line
    &:last-of-type {
      figure {
        margin-bottom: 0;
        position: relative;
        top: $lem/2;
      }
    }
  }
}
