@mixin tutorial-metadata {
  ul {
    li {
      span {
        @include font(title);
      }
    }
  }
  
  text-align: center;
  padding: $lem;
  margin: auto $lem;
  
  @include laptop-and-up {
    padding: $lem $lem * 2;
    margin: auto $lem * 2;
  }
  
  @include desktop-and-up {
    padding: $lem $lem * 4;
    margin: auto $lem * 4;
  }
  
  border-right: 1px solid;
  border-left: 1px solid;
}