<section id="menu">
  <h3>The iorad menu</h3>
  
  {% include molecules/logo.html %}
  
  <p class="subtitle">
    Make beautiful tutorials and share them with the world
  </p>
  
  {% include molecules/search.html %}
  
  <nav>
    <h3>Links</h3>
    
    <ul>
      <li>Home</li>
      <li>Tour</li>
      <li>Plans & Pricing</li>
      <li>FAQ</li>
      <li>Blog</li>
      <li>Contact Us</li>
    </ul>
  </nav>
  
  <nav>
    <h3>Buttons</h3>
    
    <ul>
      <li>Sign in</li>
      <li>Join iorad</li>
    </ul>
  </nav>
  
  <nav>
    <h3>Footer</h3>
    
    <ul>
      <li>&copy; 2014 iorad</li>
      <li>Terms</li>
      <li>Privacy Policy</li>
    </ul>
  </nav>
</section>