
// All color codes
$white: hsla(0, 0, 97.5%, 1);
$black: hsla(0, 0%, 10%, 1);
$blue: hsla(219, 46%, 23%, 1);
$blue2: hsla(219, 46%, 27%, 1);
$lightblue: hsla(219, 71%, 61%, 1);
$red: hsla(1, 100%, 69%, 1);
$green: hsla(158, 100%, 36%, 1);


// All color pairs
@mixin colors($scheme: black-on-white) {
   @if ($scheme == black-on-white) {
      color: $black;
      background-color: $white;
  } @if ($scheme == white-on-black) {
      color: $white;
      background-color: $black;
  } @if ($scheme == blue-on-white) {
      color: $blue;
      background-color: $white;
  } @if ($scheme == white-on-blue) {
      color: $white;
      background-color: $blue;
  } @if ($scheme == white-on-green) {
      color: $white;
      background-color: $green;
  } @if ($scheme == white-on-blue2) {
      color: $white;
      background-color: $blue2;
  }
}


// All color codes collected in a list
$colors: hsla(0, 0, 97.5%, 1), hsla(0, 0%, 10%, 1), hsla(219, 46%, 23%, 1), hsla(219, 46%, 27%, 1), hsla(219, 71%, 61%, 1), hsla(1, 100%, 69%, 1), hsla(158, 100%, 36%, 1);


// All color pairs collected in a list
$color-pairs: black-on-white, white-on-black, blue-on-white, white-on-blue, white-on-green, white-on-blue2; 