@mixin figure($overflow: false, $figcaption: false) {
  max-width: 100%;
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  @if ($figcaption == false) {
    figcaption {
      display: none;
    }
  } 
}