
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|);


// A list of all font mixins
@mixin font($type: body) { 
  @if ($type == body) {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
     
  }
}


// Special font mixins
$font-families: Source Sans Pro;


// 
$font-mixins: body;