@mixin icon($color) {
  margin-right: $lem;
  margin-top: $lem / 4;

  [class^="icon-"], [class*=" icon-"] {
    color: $color;
    font-family: 'icomoon';
  }
  
  span {
    &.text.none {
      display: none;
    }
  }
}


