@mixin icon($color, $margin: $lem) {
  margin-right: $margin;
  margin-top: $lem / 4;

  [class^="icon-"], [class*=" icon-"] {
    color: $color;
    font-family: 'icomoon';
  }
  
  span {
    &.text.none {
      display: none;
    }
  }
}


