@mixin layout {
  header, #top, #sidebar {
    @include flexbox($wrap: nowrap, $justify-content: space-between);
    
    @include below-laptop {
      @include flexbox-wrap(wrap);
    }
  }
  
  #top {
    @include below-laptop {
      #author {
        margin: $lem / 2 0;
      }
    }
  }
  
  #sidebar {
    @include below-laptop {
      #meta, #steps {
        @include flex-order(2);
        width: 99%;
      }

      figure {
        @include flex-order(1);
      }
    }
    
    @include laptop-and-up {
      #meta, #steps {
        @include flex-basis($text-width * 2);
        margin-right: $lem;
      }
    }
    
    @include desktop-and-up {
      #meta, #steps {
        @include flex-basis($text-width * 1.5);
        margin-right: $lem;
      }
    }
  }
}