<section id="share">
  <h3>Share</h3>
  
  <h4>{{ page.title }}</h4>
  
  <dl>
    <dt>Link to share</dt>
    <dd>
      <input type="link" value="http://www.iorad.com/a=app.htmlplayerremote=true" class="link-share" name="link-share" id="link-share">
      {% include atoms/button.html text="Copy" %}
    </dd>
    
    <dt>Embed link</dt>
    <dd>
      <input type="link" value="&lt;iframe name='iorad_embed' src='http://www.iorad.com/a=app.htmlplayerremote=true' width='341px' height='256px'&gt;&lt;/iframe&gt;" class="embed-share" name="embed-share" id="embed-share">
      {% include atoms/button.html text="Copy" %}
    </dd>
  </dl>
  
  {% include molecules/player/icons.html ids="11,12,13" %}
</section>